// Colors Palette
$White: #fff;
$Shark: #2a2f33;
$Shocking: #e280b1;
$Fedora: #6b6a6b;
$Havelock-Blue: #427ed5;
$Tuscany: #bd6e29;
$Bright-Turquoise: #29f1f3;
$Regent-St-Blue: #a2bfe3;
$Tamarillo: #940e19;
$Confetti: #e6ca5c;
$Edward: #a0a5a5;
$Nevada: #54686c;

$btn-blue-bg: #427ed5;
$btn-blue-text: #fff;

$btn-transparent-bg: transparent;
$btn-transparent-text: #fff;
$btn-transparent-border: #fff;

$jumbo-text: #fff;

$gray-line: #a0a5a5;

$collections-text: #fff;

$promo-text: #fff;

$testimonials-text: #fff;

$cta-icon: #a0a5a5;
$cta-title: #fff;

$footer-primary-dark: #1d1f22;
$footer-primary: #2b2e32;
$footer-primary-light: #303337;

