// Colors Palette
$White: #fff;
$Shark: #2a2f33;
$Shocking: #e280b1;
$Fedora: #6b6a6b;
$Havelock-Blue: #427ed5;
$Tuscany: #bd6e29;
$Bright-Turquoise: #29f1f3;
$Regent-St-Blue: #a2bfe3;
$Tamarillo: #940e19;
$Confetti: #e6ca5c;
$Edward: #a0a5a5;
$Nevada: #54686c;

// BTN COLORS
$btn-blue-bg: #427ed5;
$btn-blue-hover-bg: #e280b1;
$btn-blue-text: #fff;

$btn-transparent-bg: rgba(255,255,255,0.15);
$btn-transparent-text: #fff;
$btn-transparent-border: #fff;

// SLIDER COLORS
$slider-arrow-bg: #c1c1c1;
$slider-arrow-color: #fff;

// CARD COLORS
$card-dark-text: #2a2f33;
$card-stars: #427ed5;

// LINES & BG COLORS
$gray-line: #35383c;
$light-gray-line:#eaeaea;

$light-gray-bg: #fafafa;
$white-bg: #fff;

// HEADER COLORS
$header-top: #a0a5a5;
$header-top-dark: #54686c;
$header-bottom: #54686c;
$header-bottom-hover: #427ed1;

// MAIN COLORS
$jumbo-text: #fff;

$section-title: #2a2f33;
$section-subtitle: #54686c;

$featured-title: #2a2f33;
$featured-tags: #54686c;
$featured-price: #427ed5;

$collections-text: #fff;

$promo-text: #fff;

$testimonials-text: #fff;

$blog-title: #2a2f33 ;
$blog-text: #54686c;

$brands-title: #2a2f33;

// FOOTER COLORS
$cta-icon: #a0a5a5;
$cta-title: #fff;

$footer-primary-dark: #1d1f22;
$footer-primary: #2b2e32;
$footer-primary-light: #303337;
$footer-text: #eaeaea;
